html, main, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-width: 1920px !important;
}

.bd-text {
  font-size: 25px;
  font-weight: 500;
}

.bd-text1 {
  font-size: 20px;
  font-weight: 500;
}

.border-image {
  border: 1px solid #dbdbdb;
  border-radius: 20px;
}

.gambar-btn {
  background-color: #7aa8f4;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.text-btn {
  background-color: #efedb4;
}

.label-name {
  font-weight: 500;
}

.border-input {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin-right: 10px;
}

.height-border {
  height: 200px;
}

.vertical-center {
  align-self: center;
}

.gambar-btn-1 {
  background-color: #7aa8f4;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.gambar-btn-3 {
  background-color: #4d80e4;
  color: white;
  font-size: 25;
  font-weight: bold;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.text-grey {
  color: grey;
}

.butt-red {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.container input {
  width: 98%;
}

.container select {
  width: 98%;
}

.container textarea {
  width: 98%;
}

.row {
  width: auto;
}

label {
  font-weight: 600;
}
