html, main, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-width: 1920px !important;
}

.notif-setting {
  display: flex;
  padding: 10px;
  color: black;
  justify-content: space-between;
}

.content .switch {
  margin-top: 0px !important;
}

.content hr {
  margin: 0px !important;
}

.content .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.content .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.content .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #4d80e4;
}

.content .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content input:checked + .slider {
  background-color: #4d80e4;
}

.content input:focus + .slider {
  box-shadow: 0 0 1px #4d80e4;
}

.content input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.content .slider.round {
  border-radius: 34px;
}

.content .slider.round:before {
  border-radius: 50%;
}

.notification-item-unread {
  display: flex;
  background-color: #efefef;
  padding: 10px;
  justify-content: space-between;
}

.notification-item-read {
  display: flex;
  background-color: #f9f9f9;
  padding: 10px;
  justify-content: space-between;
}

.paragraph-side {
  width: 50%;
}

.paragraph-side p {
  font-size: 14px;
  color: #7e7e7e;
}

.left-side img {
  width: 64px !important;
  height: 64px !important;
  margin-left: 40px;
}

/* Modal */
.agreement-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 2000;
  visibility: hidden;
}

.agreement-modal-content {
  height: auto;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 15%;
  z-index: 2500;
  left: 25%;
  visibility: hidden;
}

.agreement-modal-content-2 {
  height: auto;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 15%;
  z-index: 2500;
  left: 25%;
  visibility: hidden;
}

.agreement-modal-content-header h1 {
  padding: 20px;
  margin: 0px;
  z-index: 200;
}

.agreement-modal-content-content {
  padding: 50px;
}

.agreement-modal-content-content textarea {
  width: 100%;
  height: 520px;
}

.agreement-modal-content-header button {
  background-image: url("../Assets/icn-close.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  right: 15px;
  top: 15px;
}

@media only screen and (max-width: 799px) {
  .content-register-form {
    width: 80%;
  }

  #register-image {
    width: 80%;
  }

  #date-field {
    width: 70%;
  }

  .agreement-modal-content {
    width: 80%;
    left: 9%;
  }
}
